.container-fluid{
    border: 2px solid rgb(175, 18, 18);
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-top: 15px;
    background-color: rgb(91, 109, 109);
   
}
body{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d122e0d694a030001ef945a/1567292418237-G95CJEAWTL343VR1ZZYJ/bible.gif?format=1500w")
}
h1{
    background-color: brown;
    font-weight: 900;
    padding: 10px;
}