#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
}
.card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-title{
 text-align: center; 
 background-color:gray;
}
.card-img-top{
  align-content: center;
  width: 700px;
}
.card-body{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}
.card-img-bottom{
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  position: relative;
  size: 20px;
}
.container{
justify-content: center;
background-color: rgba(128, 128, 128, 0.692);
}
.moreIMG{
  width: 200px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
}
.addButtons{
  text-align: end;
  justify-content: space-around;
}
.endSymbol{
  text-align: center;
}