.container-fluid{
    border: 2px solid rgb(175, 18, 18);
    padding:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-top: 15px;
    background-color: rgb(74, 147, 206);
   
}
body{
    background-image: url("https://cdn.sanity.io/images/nlpqts3z/production/7d5eebcc65d9ab9d8d0cf7fcb569bf54727eb28c-1920x931.jpg");
    background-size: 100%;
}
h1{
    background-color: rgb(211, 59, 135);
    font-weight: 900;
    padding: 10px;
}
