html {
    background-color: rgb(139, 179, 169);
    font-family: 'Lakki Reddy', cursive;
    color: rgb(151, 20, 20);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
        5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ecf0f3,
        5px 5px 12px rgb(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

button {
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
        5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
}
h1{
    display: flex;
    justify-content: center;
}
