body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-fill-color: #423283;
    background-image: url("https://img.freepik.com/free-vector/fresh-sandwich-chalkboard-background-advertisement-poster_1284-19550.jpg?w=740&t=st=1703004211~exp=1703004811~hmac=6f3339e1a8a448e45fbae9de1884a3ca2a557aebe4d245640c6b00f8ddb0f8a1");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.container {
    max-width: 600px;
    height:fit-content;
    margin-left: 28%;
    padding: 20px;
    background-image: url("https://img.freepik.com/premium-photo/set-bowls-various-dip-sauces_136595-15257.jpg?w=360");
    background-repeat:no-repeat;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-image: rgba(255, 255, 255, 0.733);
}

form {
    flex-wrap: wrap;
    margin-bottom: 15px;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-size: 18px;  
}

input[type="text"],
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 10px;
    padding: 5px;   
}

button {
    display: flex;
    padding: 10px 16px;
    background-color: #442daa;
    -webkit-text-fill-color: #ddd;
    font-size: large;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#dataTable{
    display:flex;
    flex-wrap: wrap;
}
h1{
    font-family:cursive;
    lighting-color: salmon;
}
